<div class="content">
  <button class="btn btn-secondary" routerLink="">BACK</button>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Update Brand</h5>
      </div>
      <div class="card-body">
        <!-- formGroup adına carAddFrom vererek ts deki değişken maplenmiş oluyor -->
        <form>
          <div class="mb-3">
            <label for="model">Name</label>
            <div class="form-group">
              <input type="text" id="model" formControlName="model" class="form-control" placeholder="Name" />
            </div>
          </div>
